<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BatteryDisplayMode</key>
	<string>2,1</string>
	<key>CPUDisplayMode</key>
	<string>100,2,3</string>
	<key>DiskDisplayMode</key>
	<string>100,6,1,5</string>
	<key>DisksMenubar</key>
	<array>
		<string>11E8B898-72BF-3E0E-8F15-50CC85A67CA1</string>
	</array>
	<key>FanSpeedSets</key>
	<array>
		<dict>
			<key>name</key>
			<string>Medium</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>3749</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>4723897A-09D7-4217-9E9A-FCA680C6C742</string>
		</dict>
		<dict>
			<key>name</key>
			<string>High</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>6199</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>3E2889BE-A9BA-4A4A-ADEE-ACC065DEB7D1</string>
		</dict>
	</array>
	<key>MemoryDisplayMode</key>
	<string>100,2,6</string>
	<key>NetworkDataFormat</key>
	<integer>1</integer>
	<key>NetworkDecimalLevel</key>
	<integer>0</integer>
	<key>NetworkDisplayMode</key>
	<string>100,0,1</string>
	<key>NetworkGraphMode</key>
	<integer>0</integer>
	<key>NetworkPrimaryInterface</key>
	<string>PRIMARY</string>
	<key>SensorsDisplayMode</key>
	<string>100,0</string>
	<key>SensorsMenubar</key>
	<array>
		<string>TC0P</string>
	</array>
	<key>SkinType</key>
	<integer>1</integer>
	<key>TempFontSize</key>
	<integer>13</integer>
	<key>TempType</key>
	<integer>0</integer>
	<key>TimerFrequency</key>
	<integer>1</integer>
	<key>_mac_id</key>
	<string>f138aec3ba365230594c7f418af4d761</string>
	<key>migratedExtras4.0</key>
	<true/>
	<key>sendDiagnostics</key>
	<true/>
	<key>skinColor</key>
	<integer>1</integer>
	<key>updateCheckerEnabled</key>
	<true/>
</dict>
</plist>
