
[include]
  path = ~/.gitconfig-pullulant
  path = ~/.gitconfig-kig
[pull]
	rebase = true
[gpg]
	program = gpg
[user]
	email = kigster@gmail.com
	name = Konstantin Gredeskoul
[init]
	defaultBranch = master
