; vim: ft=.gitconfig
[pull]
	rebase = true
  preservemerges = true

[gpg]
	program = gpg

[user]
  token = 
  signingkey = 
	email = 
	name = 

[init]
	defaultBranch = main

[github]
  token = 

[commit]
  gpgsign = true

[diff]
  renames = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
