"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "atom-html-preview":
    triggerOnSave: true
  "atom-webbrowser":
    homepage: "http://localhost:4000/"
  build:
    notificationOnRefresh: true
    overrideThemeColors: false
    panelVisibility: "Keep Visible"
    saveOnBuild: true
    scrollOnError: true
  core:
    excludeVcsIgnoredPaths: false
    openEmptyEditorOnStart: false
    themes: [
      "atom-dark-ui"
      "an-old-hope-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 7
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "ea855b00-5a85-5c2f-8f19-6c1ab68a4909"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "git-status": {}
  "linter-checkbashisms": {}
  minimap:
    displayCodeHighlights: false
    plugins:
      "git-diff": false
      "git-diffDecorationsZIndex": 0
  "terminal-plus":
    ansiColors:
      normal:
        blue:
          alpha: 1
          blue: 205
          green: 116
          red: 0
        cyan:
          alpha: 1
          blue: 207
          green: 164
          red: 0
        green:
          alpha: 1
          blue: 81
          green: 198
          red: 138
        magenta:
          alpha: 1
          blue: 205
          green: 109
          red: 147
        red:
          alpha: 1
          blue: 112
          green: 128
          red: 204
        yellow:
          alpha: 1
          blue: 70
          green: 224
          red: 255
      zBright:
        brightBlue:
          alpha: 1
          blue: 255
          green: 155
          red: 0
        brightCyan:
          alpha: 1
          blue: 255
          green: 227
          red: 0
        brightGreen:
          alpha: 1
          blue: 106
          green: 250
          red: 149
        brightMagenta:
          alpha: 1
          blue: 255
          green: 161
          red: 252
        brightRed:
          alpha: 1
          blue: 0
          green: 77
          red: 255
        brightYellow:
          alpha: 1
          blue: 0
          green: 226
          red: 255
    core:
      mapTerminalsTo: "Folder"
    style:
      defaultPanelHeight: "30%"
      fontFamily: "Fira Mono Medium for Powerline"
      fontSize: "12"
      theme: "pro"
    toggles:
      autoClose: true
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
