// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
  // font-family: "Share Tech Mono", san-serif;
  // font-family: "monofur for Powerline", san-serif;
  font-family: "Fira Mono Medium for Powerline", san-serif;
  font-size: 10pt;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
  // font-family: "Consolas", san-serif;
  font-family: "Consolas", san-serif;
  font-size: 11pt;
  line-height: 15pt;
  font-weight: bold;
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor::shadow .cursor {
  // border-color: red;
}

.terminal-plus .xterm {
  // background-color: ;
  // color: ;
  //
  ::selection {
    background-color: #eee;
  }

  .terminal-cursor {
    background-color: #F90;
  }
}
