// style the background color of the tree view
atom-text-editor {
  font-family: "Lekton", san-serif !important;
  line-height: auto !important;
  font-weight: 600 !important;
}

.tree-view {
  // background-color: whitesmoke;
  // font-family: "HelveticaNeue-CondensedBold", san-serif;
  font-family: "PT Sans", san-serif;
  font-size: 12pt;
  padding-left: 0 !important;
  margin-left: 0px !important;
  * {
     line-height: auto !important;
     // padding-left: 10px  !important;
   }
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
.atom-text-editor::shadow .cursor {
  border-color: red;
}

.terminal-plus .xterm {
  // background-color: ;
  // color: ;

  //
  ::selection {
    background-color: #eee;
  }

  .terminal-cursor {
    background-color: #F90;
  }
}
